<div class="bg-gray-100 flex justify-center items-center h-screen">
    <!-- Left: Image -->
  <div class="w-1/2 h-screen hidden lg:block">
    <%= image_tag("registrar.png", class: "object-cover h-full w-full") %>
  </div>
<!-- Right: Login Form -->
  <div class="lg:p-36 md:p-52 sm:20 p-8 w-full lg:w-1/2">
    <h1 class="text-2xl font-semibold mb-4 text-center">Cadastre-se</h1>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
        <div class="mb-4">
          <%= f.input :email, 
                      required: true,
                      input_html: { autocomplete: "email" }, 
                      class: "w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500" 
          %>
        </div>
        <div class="mb-4">
          <%= f.input :password, 
                      required: true, 
                      input_html: { autocomplete: "new-password" },
                      hint: ("#{@minimum_password_length} caracteres no mínimo" if @minimum_password_length),
                      class: "w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500" 
          %>
        </div>
        <div class="mb-4">
          <%= f.input :password_confirmation, 
                      required: true,  
                      input_html: { autocomplete: "new-password" }, 
                      placeholder: "Confirme sua senha", 
                      class: "w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500" 
          %>
        </div>
        <div class="mb-4">
          <%= f.input :role,
                      as: :select,
                      collection: User.roles.keys.map { |role| [role.humanize, role] },
                      include_blank: false,
                      class: "w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500" 
          %>
        </div>
      <%= f.button :submit, "Cadastrar", class: "bg-blue-500 hover:bg-blue-600 text-white font-semibold rounded-md py-2 px-4 w-full" %>
    <% end %>
    <div class="mt-6 text-blue-500 text-center">
      <%= link_to "Entrar", new_user_session_path, class: "hover:underline" %>
    </div>
  </div>
</div>
